body {
  font-family: Arial, Helvetica, sans-serif, monospace;
  background-color: bisque;
}

.prelogin__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 20px;
  padding: 30px;
}
fieldset {
  background-color: #fff;
  border: none;
  border-radius: 8px;
  padding: 25px;
}

.sighUp-block {
  label {
    margin: 20px 0;
  }
}

.signIn-block {
  label {
    margin: 20px 0;
  }
}

.hidden {
  display: none;
}

.transaction__box {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
